:global(.ui) {
  .comment {
    overflow: auto;
  }
  .changeButtons {
    position: absolute;
    right: 0;

    .hide {
      display: none;
    }
    .show {
      display: inline;
    }
  }
   .actionButton {
     display: inline-block;
     height: 25px;
   }
  .toolbartip {
    display: inline-block;
  }
}
