:global(.ui.basic.label).toolbarBtn {
  border: none
}
:global(.ui) {
  .changeButtons {
    position: absolute;
    right: 0;

    .hide {
      display: none;
    }
    .show {
      display: inline;
    }
  }
  .metadata {
    display: inline-block;
    height: 25px;
  }
  .toolbartip {
    display:inline-block;
  }
}
